/* ------------------- Body ------------------- */
body {
    box-sizing: border-box;
    background: black;

}

/* ------------------- header ------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    padding: 0 3rem;
    height: 7rem;
}

.header img {
    width: 150px;
    height: 150px;
}

.header button {
    background: linear-gradient(to right, #02bedc , #003095);
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
}

.header button:hover {
    border: 1px solid #fff ;
    background: transparent;
    cursor: pointer;
}

/* ------------------- scroll-footer------------------- */
.scroll-footer {
    position: fixed;
    left: 25%;
    top: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 5rem;
    background-color: #181818;
    color: #fff;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: 0 2px 20px black;
}


.scroll-footer a {
    padding: 0.8rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    border-radius: 10px;
    transition: 0.4s;
}

.scroll-footer a:hover{
    background: linear-gradient(to right, #02bedc , #003095);
}

/* ------------------- main-1 ------------------- */
.main-1 {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    background: #181818;
    border: orangered 2px solid;
    justify-content: space-around;
    align-items: center;
}

.main-1 .main-1-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: yellow solid 2px;
}

.main-1 img {
    width: 450px;
    height: 450px;
}

.main-1 .main-1-left {
    display: block;
    width: 50%;
    color: #fff;
}

.main-1 h1 {
    font-size: 60px;
    font-family: Anton, sans-serif;
    background: linear-gradient(to right, #02bedc , #003095);
    background-clip: text;
    color: transparent;
    margin-left: 3rem; 
}

.main-1 p {
    margin-left: 3rem;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

.main-1 button {
    background: linear-gradient(to right, #02bedc , #003095);
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-left: 3rem;
}

.main-1 button:hover {
    border: 1px solid #fff ;
    background: transparent;
    cursor: pointer;
}

/* ------------------- main-2 ------------------- */

.main-2  {
    display: flex;
    border: orangered solid 2px;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    grid-gap: 10px;
    padding: 2rem 0;
}

.main-2 .main-2-s {
    display: inline-block;
    text-align: center;
    width: 350px;
    height:230px;
    color: #fff;
    background: #181818;
}

.main-2 .main-2-s i {
    margin-top: 1.2rem;
    background: linear-gradient(to right, #02bedc , #003095);
    background-clip: text;
    color: transparent;
    font-size: 55px;
}

.main-2 .main-2-s h3 {
    font-size: 20px;
    color: #fff;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.main-2 .main-2-s p {
    font-size: 15px;
    color: grey;
    font-family: Inter, sans-serif;
    font-weight: 400;
}


/* ------------------- main-3 ------------------- */

.main-3 {
    display: flex;
    border: 2px solid yellow;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    height: auto;
    padding: 5rem 0;

} 

.main-3 .main-3-left {
    display: inline-block;
    color: #fff;
    width: 50%;
}

.main-3 .main-3-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.main-3 .main-3-right img{
    width: 450px;
    height: 300px;
}

.main-3 h1 {
    font-size: 60px;
    font-family: Anton, sans-serif;
    background: linear-gradient(to right, #02bedc , #003095);
    background-clip: text;
    color: transparent;
    margin-left: 3rem;
}

.main-3 p {
    margin-left: 3rem;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

.main-3 button {
    background: linear-gradient(to right, #02bedc , #003095);
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-left: 3rem;
}

.main-3 button:hover {
    border: 1px solid #fff ;
    background: transparent;
    cursor: pointer;
}

/* ------------------- main-4 ------------------- */

.main-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: auto;
    padding: 5rem 0;
    width: 100%;
    grid-gap: 10px;
}


 /*--- Left ---*/
.main-4 .main-4-left {
    display: inline-block;
    border: #003095 solid 2px;
    color: #fff;
    width: 50%;
}

.main-4 .main-4-left h1 {
    font-size: 30px;
    font-family: Anton, sans-serif;
    background: linear-gradient(to right, #02bedc , #003095);
    background-clip: text;
    color: transparent;
}

.main-4 .main-4-left p {
    font-size: 16px;
    font-family: inter, sans-serif;
}

.main-4 .main-4-left .array {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.main-4 .main-4-left .array i{
    font-size: 40px;
    border-radius: 5px;
    background: linear-gradient(to right, #02bedc , #003095);
    background-clip: text;
    color: transparent;

}

.main-4 .main-4-left .array i:hover{
    color: #fff;
    background: linear-gradient(to right, #02bedc , #003095);
    cursor: pointer;
 }

/*--- Right ---*/
.main-4 .main-4-right {
    background-color: #181818;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}



/* upper */
.main-4 .main-4-right .upper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    padding: 1rem 2rem;
    height: auto;
}

.main-4 .main-4-right .upper .left {
    display: inline-block;
    text-align: center;
    width: auto;
}

.main-4 .main-4-right .upper .left  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.main-4 .main-4-right .upper .left h3 {
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: #fff;
}
.main-4 .main-4-right .upper .left i {
    font-size: 20px;
    color: #02bedc;
}


.main-4 .main-4-right .upper .right i {
    background: linear-gradient(to right, #02bedc , #003095);
    background-clip: text;
    color: transparent;
    font-size: 70px;
    
}

/* lower */
.main-4 .main-4-right .lower {
    color: #fff;
    width: 100%;
    padding: 0 2rem 1rem 2rem;
}

.main-4 .main-4-right .lower p{
    font-size: 15px;
    color: grey;
    font-family: inter,sans-serif;
}

/* ------------------- main-5 ------------------- */

.main-5 {
    display: flex;
    flex-wrap: wrap;
    grid-gap :10px;
    border: #02bedc 2px solid;
    width: 100%;
    height: auto;
    background-color: #181818;
}

.main-5 .main-5-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.main-5 .main-5-left img {
    width: 300px;
}

.main-5 .main-5-right {
    display: inline-block;
    width: auto;
    color: #fff;
    padding: 5rem 2rem;
}

.main-5 .main-5-right h1{
    font-size: 40px;
    font-family: Anton, sans-serif;
    background: linear-gradient(to right, #02bedc , #003095);
    background-clip: text;
    color: transparent; 
}

.main-5 .main-5-right p {
    font-size: 16px;
    font-family: inter, sans-serif;
    color: grey;
}

.main-5 .main-5-right .buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main-5 .main-5-right .buttons button {
    width: 170px;
    height: 40px;
    margin: 1rem 1.5rem 0 0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.main-5 .main-5-right .buttons .b1 {
    background-color: #fff;
    color: black;
}

.main-5 .main-5-right .buttons .b2 {
    background-color: black;
    color: #fff;
}

.main-5 .main-5-right .buttons button:hover {
    background: linear-gradient(to right, #02bedc , #003095);
    color: #fff;
}

/* ------------------- main-6 ------------------- */
.main-6 {
    display: flex;
    flex-wrap: wrap;
    grid-gap :10px;
    border: #02bedc 2px solid;
    width: 100%;
    height: 20rem;
    background-color: #181818;
}
/* ------------------- main-7 ------------------- */
.main-7 {
    display: flex;
    flex-wrap: wrap;
    grid-gap :10px;
    border: #02bedc 2px solid;
    width: 100%;
    height: 20rem;
    background-color: #181818;
}
/* ------------------- main-8 ------------------- */
.main-8 {
    display: flex;
    flex-wrap: wrap;
    grid-gap :10px;
    border: #02bedc 2px solid;
    width: 100%;
    height: 20rem;
    background-color: #181818;
}
/* ------------------- Footer ------------------- */
.footer {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 20rem;
    background-color: black;
}

.footer .footer-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #181818;

}

.footer .footer-menu .menu{
    width: 200px;
    height: 200px;
}

.footer .footer-menu .menu h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: inter, sans-serif;
    margin: 1rem 0;
}


.footer .footer-menu .menu a {
    display: block;
    position: relative;
    text-decoration: none;
    color: grey;
    font-family: inter, sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0.5rem 0;
    transition: 0.4s;
}

.footer .footer-menu .menu a:hover{
    color: #fff;

}

.footer .footer-menu .menu a i{
    color: #02bedc;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.footer .footer-by {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    font-family: inter, sans-serif;
    height: 10rem;
}

.footer .footer-by span {
    color: #02bedc;
}