

/* ------------------- Body ------------------- */
body {
    box-sizing: border-box;
    background: black;
}

/* ------------------- header ------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    padding: 0 3rem;
    height: 7rem;
}

.header img {
    width: 150px;
    height: 150px;
}

.header button {
    background: linear-gradient(to right, #02bedc , #003095);;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
}

.header button:hover {
    border: 1.5px solid #fff ;
    background: transparent;
    cursor: pointer;
}

/* ------------------- scroll-footer------------------- */
.scroll-footer {
    position: fixed;
    left: 25%;
    top: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 5rem;
    background-color: #181818;
    color: #fff;
    border-radius: 20px;
}

.scroll-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.scroll-footer a:hover{
    color: #02bedc;
}

/* ------------------- main-1 ------------------- */
.main-1 {
    display: flex;
    background: #181818;
    border: orangered 2px solid;
}

.main-1 .main-1-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: yellow solid 2px;
}

.main-1 img {
    width: 450px;
    height: 450px;
}

.main-1 .main-1-left {
    display: block;
    position: relative;
    width: 60%;
    color: #fff;
}

/* ------------------- main-2 ------------------- */